.card-list {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
 }

 mat-card {
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(230, 230, 240, 0.9);
    border-radius: 10px !important;
 }

 mat-card-actions button {
   background-color: rgba(160, 160, 240, 0.9);
 }
 
 .process-children-card {
    background-color: rgba(226, 240, 220, 0.9);
 }
 
 .process-children-button {
    background-color:rgba(183, 220, 220, 0.9) !important;
 }